@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}


.part2 {
	margin-top: 5%;
	margin-bottom: 5%;
	vertical-align: middle;
	padding-left: 5%;
	padding-right: 5%;
}

.part4 {
	margin-top: 5%;
	margin-bottom: 5%;
	vertical-align: middle;
	padding-left: 5%;
	padding-right: 5%;
}

.right-bordered {
	border-right: 1px solid #ccc;
}

.bottom-bordered {
	border-bottom: 1px solid #ccc;
}


.box {
	margin-top:10vh;
	height: auto;
	min-height: 100% !important;
	outline: 1px solid grey;
}


